@import "tailwindcss";
@plugin "daisyui";

.gFont {
     font-family: "Inter", sans-serif;
}

.banner {
    @apply h-[200px] md:h-[250px] rounded-md
}

.bannertext1 {
    @apply text-[40px] md:text-[60px] font-semibold text-white text-center
}

.bannertext2 {
    @apply text-center mt-14 md:mt-18 text-white text-xl md:text-2xl font-normal
}


.bannerImg {
    position: relative;
    background-image: 
        url('./assets/vector1.png'),
        linear-gradient(125.07deg, #632EE3, #9F62F2);
    background-position: left center, center;
    background-repeat: no-repeat;
    background-size: auto, cover;
}
.bannerImg2 {
    position: relative;
    background-image: 
        url('./assets/vector1.png'),
        linear-gradient(125.07deg, #54CF68, #00827A);
    background-position: left center, center;
    background-repeat: no-repeat;
    background-size: auto, cover;
}

